{{ define "fleets" }}
	{{ template "header" . }}
	{{ template "navigation" . }}
	
	<div class="container" role="main">
		<div class="page-header">
			{{ $ShowAll := .ShowAll}}
			{{ if $ShowAll }}
			<h1>All fleets</h1>
			{{ else }}
			<h1>Currently active fleets</h1>
			{{ end }}
		</div>
		<div class="row">
			<div class="col-md">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>System</th>
							<th>Start Time</th>
							<th>End Time</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{{ range $fleet := .Fleets }}
						{{ if or $ShowAll (not $fleet.IsFleetFinished) }}
						<tr>
							<td><a href="/fleet/{{ $fleet.Id }}">{{ $fleet.Id }}</a></td>
							<td>{{ $fleet.Name }}</td>
							<td>{{ $fleet.System }}{{ if gt (len $fleet.SystemNickname) 0}} ({{ $fleet.SystemNickname }}){{ end }}</td>
							<td>{{ $fleet.StartTime }}</td>
							<td>{{ if $fleet.IsFleetFinished }} {{ $fleet.EndTime }} {{ else }} --- {{ end }}</td>
							<td><a href="/fleet/{{ $fleet.Id }}" class="btn btn-default">View</a>&nbsp;<a href="/fleet/{{ $fleet.Id }}/edit" class="btn btn-primary">Edit</a>&nbsp;<a href="/fleet/{{ $fleet.Id }}/delete" class="btn btn-danger">Delete</a></td>
						</tr>
						{{ end }}
						{{ end }}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	{{ template "footer" . }}	
{{ end }}