{{ define "fleetdetails" }}
	{{ template "header" . }}
	{{ template "navigation" . }}

	{{ $FleetID := .Fleet.Id}}
	
	<div class="container" role="main">
		<div class="page-header">
			<h1>Details for fleet #{{ .Fleet.Id }}</h1>
		</div>
		<div class="row">
			<div class="col-md">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Fleet</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<th>Fleet Name</th>
									<td>{{ .Fleet.Name }}</td>
									<th>Profit</th>
									<td class="text-right {{ if IsPositiveFloat .Fleet.Profit }} success {{ end }}">{{ FormatFloat .Fleet.Profit }} ISK</td>
								</tr>
								<tr>
									<th>Fleet System</th>
									<td>{{ .Fleet.System }} {{ if gt (len .Fleet.SystemNickname) 0 }}({{ .Fleet.SystemNickname }}){{ end }}</td>
									<th>Losses</th>
									<td class="text-right {{ if IsPositiveFloat .Fleet.Losses  }} error {{ end }}">{{ FormatFloat .Fleet.Losses }} ISK</td>
								</tr>
								<tr>
									<th>Member Count</th>
									<td>{{ len .Fleet.Members }}</td>
									<th>Surplus</th>
									<td class="text-right {{ if IsPositiveFloat .Fleet.GetSurplus  }} success {{ else }} error {{ end }}">{{ FormatFloat .Fleet.GetSurplus }} ISK</td>
								</tr>
								<tr>
									<th>Start Time</th>
									<td>{{ .Fleet.StartTime }}</td>
									<th>Corporation Payout</th>
									<td class="text-right">{{ FormatFloat .Fleet.CorporationPayout }} ISK</td>
								</tr>
								<tr>
									<th>End Time</th>
									<td>{{ if .Fleet.IsFleetFinished }} {{ .Fleet.EndTime }} {{ else }} --- {{ end }}</td>
									<th>Sites Finished</th>
									<td>{{ .Fleet.SitesFinished }}</td>
								</tr>
								<tr>
									<th>Payout Report</th>
									<td>{{ if gt .Fleet.ReportId 0 }}<a href="/report/{{ .Fleet.ReportId }}">#{{ .Fleet.ReportId }}</a>{{ else }} --- {{ end }}</td>
									<th>Payout Complete</th>
									<td class="{{ if .Fleet.PayoutComplete }} success {{ else }} danger {{ end }}">{{ if .Fleet.PayoutComplete }} Done {{ else }} Outstanding {{ end }}</td>
								</tr>
							</tbody>
						</table>
						<p align="center">
							<a href="#" class="btn btn-primary">Edit</a>
							{{ if and (IsFleetCommander .Fleet) (not .Fleet.IsFleetFinished) }}
							<a class="btn btn-success collapse-data-btn" data-toggle="collapse" href="#form_addprofit">Add Profit</a>
							<a class="btn btn-warning collapse-data-btn" data-toggle="collapse" href="#form_addloss">Add Loss</a>
							<a href="/fleet/{{ .Fleet.Id }}/finish" class="btn btn-danger">Finish Fleet</a>
							{{ end }}
						</p>
						<form role="form-horizontal" id="form_addprofit" align="center" action="/fleet/{{ .Fleet.Id }}/addprofit" method="POST" class="collapse">
							<div class="form-group">
								<label class="control-label" for="addprofit_textarea">Profit Overview</label>
								<textarea class="form-control" id="addprofit_textarea" name="addprofit_textarea" rows="5" placeholder="Paste profit overview or Evepraisal link here"></textarea>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
						</form>
						<form role="form-horizontal" id="form_addloss" align="center" action="/fleet/{{ .Fleet.Id }}/addloss" method="POST" class="collapse">
							<div class="form-group">
								<label class="control-label" for="addloss_textarea">Loss Overview</label>
								<textarea class="form-control" id="addloss_textarea" name="addloss_textarea" rows="5" placeholder="Paste loss overview, zKillboard link or Evepraisal link here"></textarea>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
						</form>
					</div>
					<div class="panel-heading">
						<h3>Fleet Members</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Role</th>
									<th>Site modifier</th>
									<th>Payment modifier</th>
									<th>Payout</th>
									<th>Payout Complete</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{{ range $index, $member := .Fleet.Members }}
								<tr>
									<form role="form-horizontal" action="/fleet/{{ $FleetID }}/addprofit" method="POST">
										<td>{{ $member.Id }}</td>
										<td>{{ $member.Name }}</td>
										<td><div id="form_fleetmember_role_{{ $index }}"><h4><span class="label {{ $member.Role.LabelType }}">{{ $member.Role }}</span></h4></div><div id="form_fleetmember_role_edit_{{ $index }}" class="hide">Test</div></td>
										<td><div id="form_fleetmember_sitemodifier_{{ $index }}">{{ $member.SiteModifier }}</div><div id="form_fleetmember_sitemodifier_edit_{{ $index }}" class="hide">Test</div></td>
										<td><div id="form_fleetmember_paymentmodifier_{{ $index }}">{{ if eq $member.PaymentModifier 1.0 }} {{ $member.Role.PaymentRate }} {{ else }} {{ $member.PaymentModifier }} {{ end }}</div><div id="form_fleetmember_paymentmodifier_edit_{{ $index }}" class="hide">Test</div></td>
										<td class="text-right"><div id="form_fleetmember_payout_{{ $index }}">{{ FormatFloat $member.Payout }} ISK</div><div id="form_fleetmember_payout_edit_{{ $index }}" class="hide">Test</div></td>
										<td class="{{ if $member.PayoutComplete }} success {{ else }} danger {{ end }}"><div id="form_fleetmember_payoutcomplete_{{ $index }}">{{ if $member.PayoutComplete }} Done {{ else }} Outstanding {{ end }}</div><div id="form_fleetmember_payoutcomplete_edit_{{ $index }}" class="hide">Test</div></td>
										<td><a onclick="toggleFleetmemberEdit({{ $index }}, true);" class="btn btn-primary" id="form_fleetmember_action_{{ $index }}">Edit</a><a href="#" class="btn btn-success hide" id="form_fleetmember_action_edit_{{ $index }}">Save</a>&nbsp;<a href="#" class="btn btn-danger" id="form_fleetmember_action_cancel_{{ $index }}">Remove</a><a onclick="toggleFleetmemberEdit({{ $index }}, false);" class="btn btn-danger hide" id="form_fleetmember_action_cancel_edit_{{ $index }}">Cancel</a></td>
									</form>
								</tr>
								{{ end }}
							</tbody>
						</table>
						<p align="center">
							<a class="btn btn-success collapse-data-btn" data-toggle="collapse" href="#form_addmember">Add Member</a>
							<form role="form-horizontal" id="form_addmember" align="center" action="/fleet/{{ .Fleet.Id }}/addmember" method="POST" class="collapse">
							<div class="form-group">
								<label class="control-label" for="addmember_selectMember">Members available</label>
								<select class="form-control" id="addmember_selectMember" name="addmember_selectMember">
									{{ range $player := .AvailablePlayers }}
										<option value="{{ $player.Id }}">{{ $player.Name }}</option>
									{{ end }}
								</select>
							</div>
							<div class="form-group">
								<label class="control-label" for="addmember_selectRole">Fleet Role</label>
								<select class="form-control" id="addmember_selectRole" name="addmember_selectRole">
									<option value="32">DPS</option>
									<option value="16">Logistics</option>
									<option value="8">Salvage</option>
									<option value="4">Scout</option>
								</select>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
						</form>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ template "footer" . }}	
{{ end }}