{{ define "navigation" }}
	
	<!-- Fixed navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
	         		<span class="icon-bar"></span>
	         		<span class="icon-bar"></span>
	         		<span class="icon-bar"></span>
	         	</button>
	         	<a class="navbar-brand" href="/">lootsheeter</i></a>
	        </div>
        	<div id="navbar" class="navbar-collapse collapse">
          		<ul class="nav navbar-nav">
            		<li {{ if eq .PageType 1 }} class="active" {{ end }}><a href="/">Home</a></li>
					<li class="dropdown {{ if eq .PageType 2 }} active {{ end }}" >
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Fleets<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/fleets">Active Fleets</a></li>
							<li><a href="/fleets/all">All Fleets</a></li>
						</ul>
					</li>
					<li {{ if eq .PageType 3 }} class="active" {{ end }}><a href="/players">Players</a></li>
					<li {{ if eq .PageType 4 }} class="active" {{ end }}><a href="/reports">Reports</a></li>
					{{ if not .LoggedIn }}<li {{ if eq .PageType 5 }} class="active" {{ end }}><a href="/login">Login</a></li>{{ else }}<li><a href="/logout">Logout</a></li>{{ end }}
					<li {{ if eq .PageType 6 }} class="active" {{ end }}><a href="/admin">Admin</a></li>
          		</ul>
        	</div><!--/.nav-collapse -->
      	</div>
    </nav>
	
{{ end }}