{{ define "reports" }}
	{{ template "header" . }}
	{{ template "navigation" . }}
	
	<div class="container" role="main">
		<div class="page-header">
			{{ $ShowAll := .ShowAll}}
			{{ if $ShowAll }}
			<h1>All Payout Reports</h1>
			{{ else }}
			<h1>Open Payout Reports</h1>
			{{ end }}
		</div>
		<div class="row">
			<div class="col-md">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Start Range</th>
							<th>End Range</th>
							<th>Fleets Involved</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{{ range $report := .Reports }}
						{{ if or $ShowAll (not $report.PayoutComplete) }}
						<tr>
							<td><a href="/report/{{ $report.ID }}">{{ $report.ID }}</a></td>
							<td>{{ $report.StartRange }}</td>
							<td>{{ $report.EndRange }}</td>
							<td>{{ len $report.Fleets }}</td>
							<td><a href="/report/{{ $report.ID }}" class="btn btn-default">View</a></td>
						</tr>
						{{ end }}
						{{ end }}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	{{ template "footer" . }}	
{{ end }}