{{ define "reportdetails" }}
	{{ template "header" . }}
	{{ template "navigation" . }}
	
    {{ $ReportAdmin := or (IsReportCreator .Report) (HasAccessMask 256) }}
    {{ $ReportID := .Report.ID }}
    {{ $ReportPayoutComplete := .Report.PayoutComplete }}
    
	<div class="container" role="main">
		<div class="page-header">
			<h1>Details for report #{{ $ReportID }}</h1>
		</div>
		<div class="row">
			<div class="col-md">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Report</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<th>Created By</th>
								<th>Total Payout</th>
								<th>Fleets Involved</th>
								<th>Start Range</th>
								<th>End Range</th>
								<th>Payout Complete</th>
							</thead>
							<tbody>
                                <tr>
                                    <td>{{ .Report.Creator.Name }}</td>
                                    <td>{{ FormatFloat .Report.TotalPayout }} ISK</td>
                                    <td>{{ len .Report.Fleets }}</td>
                                    <td>{{ .Report.StartRange }}</td>
                                    <td>{{ .Report.EndRange }}</td>
                                    <td class="{{ if $ReportPayoutComplete }} success {{ else }} danger {{ end }}">{{ if $ReportPayoutComplete }} Done {{ else }} Outstanding {{ end }}</td>
                                </tr>
							</tbody>
						</table>
						<p align="center">
                        	{{ if and $ReportAdmin (not $ReportPayoutComplete) }}
                            <a class="btn btn-danger report-details-finish" report="{{ $ReportID }}">Finish Report</a>
                            {{ end }}
						</p>
					</div>
					<div class="panel-heading">
						<h3>Report Fleets</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>System</th>
									<th>Start Time</th>
									<th>End Time</th>
									<th>Surplus</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{{ range $fleet := .Report.Fleets }}
								<tr>
									<td><a href="/fleet/{{ $fleet.ID }}">{{ $fleet.ID }}</a></td>
									<td>{{ $fleet.Name }}</td>
									<td>{{ $fleet.System }}</td>
									<td>{{ $fleet.StartTime }}</td>
									<td>{{ $fleet.EndTime }}</td>
									<td>{{ FormatFloat $fleet.GetSurplus }} ISK</td>
									<td><a href="/fleet/{{ $fleet.ID }}" class="btn btn-default">View</a></td>
								</tr>
								{{ end }}
							</tbody>
						</table>
					</div>
					<div class="panel-heading">
						<h3>Report Players</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Name</th>
									<th>Payout</th>
                                    <th>Payout Complete</th>
                                    {{ if and $ReportAdmin (not $ReportPayoutComplete) }}
                                    <th>Action</th>
                                    {{ end }}
								</tr>
							</thead>
							<tbody>
								{{ range $name, $payout := .Report.Payouts }}
								<tr>
									<td>{{ $name }}</td>
									<td>{{ FormatFloat $payout.Payout }} ISK</td>
                                    <td class="{{ if or $payout.PayoutComplete $ReportPayoutComplete }} success {{ else }} danger {{ end }}">{{ if or $payout.PayoutComplete $ReportPayoutComplete }} Done {{ else }} Outstanding {{ end }}</td>
                                    {{ if and $ReportAdmin (not $ReportPayoutComplete) }}
                                    <td><a class="btn btn-success report-player-paid" player="{{ $name }}" report="{{ $ReportID }}">Mark as paid</a></td>
                                    {{ end }}
								</tr>
								{{ end }}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
    <script src="/js/reportdetails.js"></script>
    
	{{ template "footer" . }}
{{ end }}